*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: calibri;
}

nav {
    height: 80px;
    width: 100%;
    background: rgb(179, 179, 179);
}

label.logo{
    color: black;
    font-size: 40px;
    font-weight: bold;
    line-height: 80px;
    padding: 0 100px;
    font-style: italic;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 8px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, nav ul li a:hover{
    background-color: rgb(197, 197, 197);
    transition: .5s;
}

h1{
    margin-top: 50px;
    margin-left:  41%;
}

h2{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 2%;
}

body ul{
    margin-top: 20px;
    margin-left: 3%;
}

body ul li{
    margin-top: 10px;
}

body ul li a{
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
}

body ul li img{
    border-top: 50px;
}