*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: calibri;
}

nav {
    height: 80px;
    width: 100%;
    background: rgb(179, 179, 179);
}

label.logo{
    color: black;
    font-size: 40px;
    font-weight: bold;
    line-height: 80px;
    padding: 0 100px;
    font-style: italic;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 8px;
}

nav ul li a{
    color: black;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, nav ul li a:hover{
    background-color: rgb(197, 197, 197);
    transition: .5s;
}

/*  headers  */
h1{
    margin-top: 50px;
    margin-left:  41%;
}

h2{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 2%;
}


/*  lists  */

ul.contact_list, ul.project_list{
    margin-top: 20px;
    margin-left: 3%;
}

ul.contact_list li, ul.project_list li{
    margin-left: 15px;
    margin-top: 10px;
}

ul.contact_list li a, ul.contact_list li a:link, ul.project_list li a, ul.project_list li a:link{
    font-size: 20px;
    margin-left: 15px;
    color: rgb(0, 0, 0); 
}

/* DINO GAME*/

#dino_game{
    width: 1500px;
    height: 600px;
    border: 1px solid black;
}

#dino{
    width: 60px;
    height: 150px;
    background-color: red;
    position: relative;
    top: 450px;
}
.animate{ 
    animation: jump 500ms;
}

@keyframes jump{
    0%{top: 450px;}
    30%{top: 300px;}
    70%{top: 300px;}
    100%{top: 450px;}
}

#cactus{
    width: 60px;
    height: 60px;
    background-color: blue;
    position: relative;
    top: 390px;
    left: 1440px;
    animation: cactus 1s infinite linear;
}


@keyframes cactus{
    0%{left:1440px;}
    100%{left:-40px;}
}

